@charset "UTF-8";

/**
 * Основные стили
 **/

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.container {
  @include min-max(320px,100%, 0);
}

.wrap {
  @include min-max(320px, 940px, 0px);
}

p {
  color: $black;
}
