$white: #fff;
$black: #000;

$headerColor:#282a2e;
$menulinkcolor:#97c248;
$servisesCircleColor:#313338;
$servisesP:#b3b3b3;

$bgColorBtn:#1bbc9d;
$bgboxshadow:#798f21;

$priceColor:#b6b6b6;
$bgPrice:#1bbc9d;

$bgboxshadowPrice:#17987f;
$bgcommentborder:#424242;

$colorTextAbout:#acacac;
