.icon{

    &__search{
        position: relative;
    }

    &__img{
        display: block;
        cursor: pointer;
    }
}

@media (max-width: 950px){

    .icon__search{
      
        margin-right: 15px;
    }
}