.portfolio{
    background: $headerColor;

    &__wrap{
       padding: 50px 0;
    }

    h1{
        padding-bottom:20px; 
        font-size: 36px;
        line-height: 20px;
        color: $white;
        text-align: center;
    }

    &__menu{
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        flex-wrap: wrap;
    }

    &__menu &__btn{
        @include btn($bg:$servisesCircleColor,$br:none);
        box-shadow:none;
        margin-right: 5px;
    }

    &__menu &__btn.active{
        background-color: $bgColorBtn;
        box-shadow:0px 3px 1px #1f937d;
    }    
    
}