.pricing{

    background: url('../img/portfolio3.jpg') center no-repeat;
    background-size: cover; 

    h1{
        padding: 170px 0;
        color: $white;
        font-size: 60px;
        line-height: 40px;
    }

    h1 span{
        font-size: 40px;
    }
}

@media (max-width: 940px){

    .pricing{

        h1{
            padding: 100px 0;
            margin-left: 50px;
        }

    }
}

@media (max-width: 520px){

    .pricing{

        h1{
            font-size: 40px;
            padding: 50px 0;
            text-align: center;
            margin-left: 0;
        }

        h1 span{
            font-size: 25px;            
        }
    }
}